.slider {

}

.swiper {
    width: 1920px;
    height: 722px;
    position: relative;
    top: 0;
    left: 0;
    
}

.slide-one {
    background-image: url("/img/image-slide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1920px;
    height: 722px;

}

.slide-content {
    margin-top: 224px;
    padding-left:  150px;
    width: 795px;

}

.slide-content__text {
    font-family: 'Jost';
    font-size: 20px;
    font-weight: 500;
}

.slider-content__title {
    font-family: 'Jost';
    font-size: 70px;
    font-weight: 500;
    line-height: 101px;
}

.slider-content__link {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 15px;
    color:#000000;
    display: inline-block;
    margin-top: 50px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-image: url("/img/bullet-deafault.svg");
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 25;
}

.swiper-pagination-bullet-active {
    background-image: url("/img/bullet-active.svg");
}

